<button type="button" class="btn {{ "{{ app.session.get('filter." ~ entity|lower ~ "') ? 'btn-warning' : 'btn-default' }}" }} btn-sm" data-toggle="modal" data-target="#filterModal">
	<i class="fa fa-filter"></i> {{ "{{ 'filter_title'|trans({}, 'DonjohnAdminLTEGeneratorBundle') }}" }}
</button>

<div class="modal" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title" id="myModalLabel">{{ "{{ 'filter_search_title'|trans({}, 'DonjohnAdminLTEGeneratorBundle') }}" }} <small>{{ "{{ 'filter_search_subtitle'|trans({}, 'DonjohnAdminLTEGeneratorBundle') }}" }}</small></h4>
      		</div>
		<div class="modal-body">
			<div id="filter" >
				<form method="get" action="">
					{{ "{{ form_widget(form) }}" }}

			</div>
		</div>
		<div class="modal-footer">
       		<button class="btn btn-primary btn-sm btn-flat" type="submit" name="submit-filter"><i class="fa fa-filter"></i> {{ "{{ 'button_filter'|trans({}, 'DonjohnAdminLTEGeneratorBundle') }}" }}</button>
        	<a class="btn btn-default btn-sm btn-flat" href="?reset-filter"><i class="fa fa-eraser"></i> {{ "{{ 'button_clear'|trans({}, 'DonjohnAdminLTEGeneratorBundle') }}" }}</a>
        	<button type="button" class="btn btn-default btn-sm btn-flat" data-dismiss="modal"><i class="fa fa-times"></i> {{ "{{ 'button_cancel'|trans({}, 'DonjohnAdminLTEGeneratorBundle') }}" }}</button>
      </div>
		</form>
    </div>
  </div>
</div>
