{% block extends %}
{{ "{% extends 'DonjohnAdminLTEGeneratorBundle::admin_layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block avanzu_page_content %}" }}
<div class="row">
    <div class="col-md-12">
         <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">New {{ entity }}</h3>
            </div>
            {{ '{{ form_start(form, {"attr":{"novalidate":"novalidate"}}) }}' }}
            <div class="box-body">
			{{ '{{ form_widget(form) }}' }}
			</div>
			<div class="box-footer">
				<button type="submit" class="btn btn-primary btn-sm btn-flat"><i class="fa fa-save"></i> Save</button>        	        	
			{{ '{{ form_end(form) }}' }}
			{% set hide_edit, hide_delete = true, true %}
			{{ include('crud/views/others/record_actions.html.twig.twig') -}}
			</div>
		</div>
	</div>
</div>
{{ "{% endblock avanzu_page_content %}" }}
{% endblock body %}
