<div id="delete_confirm" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{{ "{{ 'clear_log'|trans({}, 'DonjohnAdminLTEGeneratorBundle') }}" }}</h3>
            </div>
            <div class="modal-body">
                <p>{{ "{{ 'modal_delete_remains'|trans({}, 'DonjohnAdminLTEGeneratorBundle') }}" }}</p>
                <p>{{ "{{ 'modal_delete_confirm'|trans({}, 'DonjohnAdminLTEGeneratorBundle') }}" }}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-flat">{{ "{{ 'yes_remove'|trans({}, 'DonjohnAdminLTEGeneratorBundle') }}" }}</button>
                <button class="btn btn-secondary btn-flat" data-dismiss="modal">{{ "{{ 'no_cancel'|trans({}, 'DonjohnAdminLTEGeneratorBundle') }}" }}</button>
            </div>
        </div>
    </div>
</div>
<input name="modal" type="hidden" value="0">